@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .aspect-auto {
    aspect-ratio: auto !important;
  }
  .padded-section {
    @apply px-4 sm:px-8 lg:px-10 max-w-[105rem] mx-auto w-full;
  }

  .cropped {
    @apply w-full box-border relative py-20 my-2 lg:[clip-path:polygon(0%_0%,100%_10%,100%_90%,0_100%)] lg:[-webkit-clip-path:polygon(0%_0%,100%_10%,100%_90%,0_100%)] [clip-path:polygon(0%_0%,100%_5%,100%_95%,0_100%)] [-webkitclip-path:polygon(0%_0%,100%_5%,100%_95%,0_100%)];
  }

  .cropped:before {
    content: "";
    height: 40px;
    transform: skewY(2deg);
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .cropped:after {
    content: "";
    height: 40px;
    transform: skewY(1deg);
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .cropped:before {
    top: -20px;
  }

  .cropped:after {
    bottom: -30px;
  }
}

html {
  scrollbar-color: #454a4d #202324;
  @apply !overflow-auto !pr-0;
}

body {
  @apply overflow-x-hidden;
}

.footer-value {
  flex-basis: calc(33.333333% - 2.5rem);
}

.hacks > section:nth-last-child(1) {
  @apply mb-5;
}

::-webkit-scrollbar {
  background-color: #202324;
  color: #aba499;
}

::-webkit-scrollbar-corner {
  background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #575e62;
}

/* Nprogress styles */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;

  @apply bg-blue;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #cce5ff, 0 0 5px #cce5ff;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;

  @apply border-y-blue;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
