@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .aspect-auto {
    aspect-ratio: auto !important;
  }
}

html {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/loop.jpg');
  background-size: 50%;
  scrollbar-color: #454a4d #202324;
  @apply text-white bg-black;
}

body {
  @apply overflow-x-hidden;
}

h1 {
  @apply text-center
}

.footer-value {
  flex-basis: calc(33.333333% - 2.5rem);
}

::-webkit-scrollbar {
  background-color: #202324;
  color: #aba499;
}

::-webkit-scrollbar-corner {
  background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #575e62;
}
