@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --plyr-video-background: rgba(255, 255, 255, 1);
  --plyr-color-main: #09c39e;
}

html {
  /* background-image: url("/loop.webp"); */
  @apply bg-contain text-white bg-black;
}
body {
  @apply overflow-x-hidden;
}
